<?xml version="1.0" encoding="utf-8"?>
<RunSettings>
	<DataCollectionRunSettings>
		<DataCollectors>
			<DataCollector friendlyName="XPlat Code Coverage">
				<Configuration>
					<Format>cobertura</Format>
					<!-- Esclude tutti i progetti e le classi che contengono la parola 'Tests' -->
					<Exclude>[*Tests*]*,[*IntegrationTests*]*</Exclude>
					<!-- Esclude codice auto-generato o non testabile se necessario -->
					<ExcludeByAttribute>Obsolete,GeneratedCodeAttribute,CompilerGeneratedAttribute,ExcludeFromCodeCoverageAttribute</ExcludeByAttribute>
					<SingleHit>false</SingleHit>
					<UseSourceLink>true</UseSourceLink>
				</Configuration>
			</DataCollector>
		</DataCollectors>
	</DataCollectionRunSettings>
</RunSettings>